</html>
<head>
    <link rel="stylesheet" href="/styles.css"/>
</head>
    <body>
        <h1>Doom Fire Effect</h1>
        <div id="fireCanvas"></div> 
        <a href="https://github.com/ViniciusAlexsander/doom-fire"
           target="_blank">
            Project repository on Github
        </a>
        <script src="./fire.js"></script>
    </body>
</html>